@import url("https://v1.fontapi.ir/css/Shabnam");
* {
  box-sizing: border-box;
}

body {
  margin: 15px;
  padding: 0;
}

.bg {
  background-image: url(/img/backforgrid.jpg);
}

.layer {
  background-color: rgba(92, 36, 172, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(5, 1fr);
}

.container div {
  height: 180px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Shabnam", sans-serif;
}

.txt1 {
  color: #242424;
  background-color: #3a3a3a6e;
  padding: 10px;
}

.container div:nth-child(1) {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div:nth-child(7) {
  grid-column: 2/4;
}

.container div:nth-child(1) {
  grid-column: 1/3;
}

.container div:nth-child(5) {
  grid-column: 1/4;
}